<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="__ADMIN__/css/base.css" />
<link rel="stylesheet" href="__ADMIN__/css/info-mgt.css" />
<title>移动办公自动化系统</title>
<style type='text/css'>
	table tr .id{ width:63px; text-align: center;}
	table tr .name{ width:118px; padding-left:17px;}
	table tr .nickname{ width:63px; padding-left:17px;}
	table tr .dept_id{ width:63px; padding-left:13px;}
	table tr .birthday{ width:80px; padding-left:13px;}
	table tr .tel{ width:113px; padding-left:13px;}
	table tr .addtime{ width:160px; padding-left:13px;}
	table tr .operate{ padding-left:13px;}
</style>
</head>

<body>
<div class="title" id="{$id}" is_read="{$is_read}"><h2>信息管理</h2></div>

</body>
<script type="text/javascript" src="__ADMIN__/js/jquery.js"></script>
<script type="text/javascript" src="__ADMIN__/layer/layer.js"></script>
<script type="text/javascript">
	$(function(){
        //获取当前邮件的ID,和邮件当前的状态
        var email_id=$(".title").attr("id");
        var is_read=$(".title").attr("is_read");

        //通过ajax获取邮件内容
        $.ajax({
            url:"__CONTROLLER__/getEmailContent",
            type:'post',
            data:{"id":email_id,"is_read":is_read},
            success:function(data){
                //页面层
                layer.open({
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['800px', '500px'], //宽高
                    //关闭时的回调函数
                    cancel: function(){
                        location.href="__CONTROLLER__/receiver";

                    },
                    content: data
                });




            }
        });
	});


</script>
</html>
